{% extends 'GWENT/base.html' %}

{% block basecontent %}
<div class="container-fluid">
    <table>
        <tr>
            <td>
                <img src="{{ card.thumbnail_link }}" class="img-responsive">
            </td>
            <td>
                <ul>
                    <li><h3>{{ card.name }}</h3></li>
                    <li>Faction: {{ card.faction }}</li>
                    <li>Text: {{ card.text }}</li>
                    <li>Strength: {{ card.strength }}</li>
                    <li>Type: {{ card.type }}</li>
                    <li>Rarity: {{ card.rarity }}</li>
                    <li><em>Flavor: {{ card.flavor }}</em></li>
                </ul>
            </td>
        </tr>

    </table>
</div>

{% endblock %}