{% extends 'GWENT/base.html' %}

{% block basecontent %}
<div class="container-fluid">
    <table>
        <tr>
            <td>
                <img src="{{ thumbnail_link }}" class="img-responsive">
            </td>
            <td>
                <ul>
                    <li><h3>{{ name }}</h3></li>
                    <li>Faction: {{ faction }}</li>
                    <li>Text: {{ text }}</li>
                    <li>Strength: {{ strength }}</li>
                    <li>Row: {{ row }}</li>
                    <li>Type: {{ type }}</li>
                    <li>Rarity: {{ rarity }}</li>
                    <li><em>Flavor: {{ flavor }}</em></li>
                </ul>
            </td>
        </tr>

    </table>
</div>

{% endblock %}