{% extends 'GWENT/base.html' %}

{% block basecontent %}
<center>
<div class="container">
    <div>
        <a class="btn btn-default" href="deck_builder/monster" role="button">Monster</a>
        {% for leader in monster_leaders %}
        <img src="{{ leader.thumbnail_link }}" style="width:5%">
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-default" href="deck_builder/skellige" role="button">Skellige</a>
        {% for leader in skellige_leaders %}
        <img src="{{ leader.thumbnail_link }}" style="width:5%">
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-default" href="deck_builder/scoiatael" role="button">Scoia'tael</a>
        {% for leader in scoiatael_leaders %}
        <img src="{{ leader.thumbnail_link }}" style="width:5%">
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-default" href="deck_builder/northernrealms" role="button">Northern Realms</a>
        {% for leader in northernrealms_leaders %}
        <img src="{{ leader.thumbnail_link }}" style="width:5%">
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-default" href="deck_builder/nilfgaard" role="button">Nilfgaard</a>
        {% for leader in nilfgaard_leaders %}
        <img src="{{ leader.thumbnail_link }}" style="width:5%">
        {% endfor %}
    </div>
</div>
</center>

{% endblock %}